<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>View Job</title>
</head>
<body>
    <div class="top-container">
        <br>
    <h1 class="text-center">Bill Details!</h1>
        <div class="text-right">
            <a href="/dashboard" class="btn btn-success">Dashboard</a>
            <a href="/logout" class="btn btn-danger">Logout</a>
        </div>
    </div>
    <form action="/view/job" method="post" class="col-6 mx-auto">
        <h2 class="text-leftr">{{show.title}}</h2>
        <input type="hidden" name="id" value={{show.id}}>
        <br>
        <div class="form-group">
            <label for="network":><Strong>Amount:</Strong> {{show.network}}</label>
        </div>
        <div class="form-group">
            <label for="description"><Strong>Notes:</Strong> {{show.description}}</label>
        </div>
        <div class="form-group">
            <label for="release_date"><Strong>Due Date:</Strong> {{show.release_date.strftime("%b %d %Y")}} </label>
        </div>
    </form>
</body>
</html>